In [1]:
import pandas as pd
import numpy as np
import json

# Load Full Dataset

In [2]:
with open('./full_data.json', 'r') as file:
    data = pd.read_json(json.load(file), orient='table')
 
data.pop('Units of E')
data.pop('Cloud Point')
data.pop('No');

# data = np.asarray(data)

# Compute Convex Hull
Compute convex hull of the datasets with resepct to the 5 design variables. We use the Delaunay triangulation [1] since it also returns the simplices from which we can check whether a point belongs to the convex hull or not. 

[1] Delaunay, Boris (1934). "Sur la sphère vide". Bulletin de l'Académie des Sciences de l'URSS, Classe des Sciences Mathématiques et Naturelles. 6: 793–800.

In [3]:
from scipy.spatial import Delaunay
hull = Delaunay(data)

# Import Design/Results data

In [4]:
with open('results.json', 'r') as file:
    results = pd.read_json(file)

results['Extrapolation'] = ~hull.find_simplex(results.loc[:, 'Units of A':'M'])>= 0 
print('Extrapolation ratio: ', np.mean(results['Extrapolation']))

results.sort_index()

Extrapolation ratio:  0.35294117647058826

,index,Units of A,Units of B,Units of C,Units of D,M,Target/Obtained,Cloud Point,Extrapolation
0,0,28,79,0,13,13195,target,37.0,False
1,1,20,67,0,33,12191,target,37.0,False
2,2,21,59,0,40,10838,target,37.0,False
3,3,26,73,0,21,13875,target,37.0,False
4,4,11,0,14,94,7712,target,45.0,True
5,5,26,0,22,72,10554,target,45.0,True
6,6,35,39,0,46,14496,target,45.0,False
7,7,26,0,28,65,7745,target,45.0,True
8,8,84,0,16,20,20035,target,60.0,True
9,9,63,0,0,57,17111,target,60.0,False
10,10,73,38,9,0,11574,target,60.0,False
11,11,67,32,21,0,9257,target,60.0,False
12,12,95,0,26,0,11725,target,80.0,False
13,13,104,0,17,0,18612,target,80.0,True
14,14,98,0,22,0,13330,target,80.0,False
15,15,108,0,0,12,18975,target,80.0,True
16,16,107,0,0,13,9079,target,80.0,False
17,0,28,79,0,13,13195,obtained,34.5,False
18,1,20,67,0,33,12191,obtained,34.0,False
19,2,21,59,0,40,10838,obtained,36.0,False
20,3,26,73,0,21,13875,obtained,34.0,False
21,4,11,0,14,94,7712,obtained,45.8,True
22,5,26,0,22,72,10554,obtained,43.5,True
23,6,35,39,0,46,14496,obtained,40.8,False
24,7,26,0,28,65,7745,obtained,45.5,True
25,8,84,0,16,20,20035,obtained,57.8,True
26,9,63,0,0,57,17111,obtained,50.5,False
27,10,73,38,9,0,11574,obtained,53.5,False
28,11,67,32,21,0,9257,obtained,56.3,False
29,12,95,0,26,0,11725,obtained,70.8,False
30,13,104,0,17,0,18612,obtained,74.5,True
31,14,98,0,22,0,13330,obtained,76.3,False
32,15,108,0,0,12,18975,obtained,74.0,True
33,16,107,0,0,13,9079,obtained,77.8,False